<a href="https://colab.research.google.com/github/Kritisha57/Python-for-Data-Science/blob/main/Pandas_Essentials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
cars_dict = {
    'Toyota': {
        'models': ['Corolla', 'Camry', 'RAV4'],
        'prices': [20000, 25000, 30000],
        'years': [2019, 2020, 2021]
    },
    'Honda': {
        'models': ['Civic', 'Accord', 'CR-V'],
        'prices': [22000, 28000, 32000],
        'years': [2020, 2021, 2022]
    },
    'Ford': {
        'models': ['Mustang', 'F-150', 'Focus'],
        'prices': [35000, 40000, 22000],
        'years': [2018, 2020, 2023]
    },
    'Chevrolet': {
        'models': ['Cruze', 'Malibu', 'Equinox'],
        'prices': [18000, 24000, 28000],
        'years': [2019, 2021, 2022]
    }}

In [ ]:
dtf=pd.DataFrame(cars_dict['Toyota'])
dtf

    models  prices  years
0  Corolla   20000   2019
1    Camry   25000   2020
2     RAV4   30000   2021

In [ ]:
dtf_cars=pd.read_csv('/content/drive/MyDrive/cars.csv',header=None)
dtf_cars.head()

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False

In [ ]:
dtf_cars.columns=['country-code','region','country','cars-per-cap','drive-right']
dtf_cars.head()

  country-code region        country  cars-per-cap  drive-right
0         USCA     US  United States         809.0        False
1        ASPAC    AUS      Australia         731.0         True
2        ASPAC    JAP          Japan         588.0         True
3        ASPAC     IN          India          18.0         True
4        ASPAC     RU         Russia         200.0        False

In [ ]:
dtf_cars.index.name='country-code'
dtf_cars

             country-code region        country  cars-per-cap  drive-right
country-code
0                    USCA     US  United States         809.0        False
1                   ASPAC    AUS      Australia         731.0         True
2                   ASPAC    JAP          Japan         588.0         True
3                   ASPAC     IN          India          18.0         True
4                   ASPAC     RU         Russia         200.0        False
5                   LATAM    MOR        Morocco          70.0        False
6                     AFR     EG          Egypt          45.0        False
7                     EUR    ENG        England           NaN         True

In [ ]:
dtf_cars.index.name=None
dtf_cars

  country-code region        country  cars-per-cap  drive-right
0         USCA     US  United States         809.0        False
1        ASPAC    AUS      Australia         731.0         True
2        ASPAC    JAP          Japan         588.0         True
3        ASPAC     IN          India          18.0         True
4        ASPAC     RU         Russia         200.0        False
5        LATAM    MOR        Morocco          70.0        False
6          AFR     EG          Egypt          45.0        False
7          EUR    ENG        England           NaN         True

In [ ]:
# Setting Hierarchial index
cars_df=pd.read_csv('/content/drive/MyDrive/cars.csv',header=None)
cars_df.columns=['country-code','region','country','cars-per-cap','drive-right']

# set hierarchial index
cars_df.set_index(['region','country-code'],inplace=True)
cars_df

                           country  cars-per-cap  drive-right
region country-code
US     USCA          United States         809.0        False
AUS    ASPAC             Australia         731.0         True
JAP    ASPAC                 Japan         588.0         True
IN     ASPAC                 India          18.0         True
RU     ASPAC                Russia         200.0        False
MOR    LATAM               Morocco          70.0        False
EG     AFR                   Egypt          45.0        False
ENG    EUR                 England           NaN         True

<font color="blue"><b><medium>Case Study-Sales data</small></b></font>

In [ ]:
sales=pd.read_excel('/content/drive/MyDrive/sales.xlsx',index_col=[0,1])
sales

                                No_of_Orders    Profit      Sales
Market       Region
Africa       Western Africa              251 -12901.51   78476.06
             Southern Africa              85  11768.58   51319.50
             North Africa                182  21643.08   86698.89
             Eastern Africa              110   8013.04   44182.60
             Central Africa              103  15606.30   61689.99
Asia Pacific Western Asia                382 -16766.90  124312.24
             Southern Asia               469  67998.76  351806.60
             Southeastern Asia           533  20948.84  329751.38
             Oceania                     646  54734.02  408002.98
             Eastern Asia                414  72805.10  315390.77
             Central Asia                 37  -2649.76    8190.74
Europe       Western Europe              964  82091.27  656637.14
             Southern Europe             338  18911.49  215703.93
             Northern Europe             367  43237.44  252969.09
             Eastern Europe              241  25050.69  108258.93
LATAM        South America               496  12377.59  210710.49
             Central America             930  74679.54  461670.28
             Caribbean                   288  13529.59  116333.05
USCA         Western US                  490  44303.65  251991.83
             Southern US                 255  19991.83  148771.91
             Eastern US                  443  47462.04  264973.98
             Central US                  356  33697.43  170416.31
             Canada                       49   7246.62   26298.81

In [ ]:
sales.head(10)

                                No_of_Orders    Profit      Sales
Market       Region
Africa       Western Africa              251 -12901.51   78476.06
             Southern Africa              85  11768.58   51319.50
             North Africa                182  21643.08   86698.89
             Eastern Africa              110   8013.04   44182.60
             Central Africa              103  15606.30   61689.99
Asia Pacific Western Asia                382 -16766.90  124312.24
             Southern Asia               469  67998.76  351806.60
             Southeastern Asia           533  20948.84  329751.38
             Oceania                     646  54734.02  408002.98
             Eastern Asia                414  72805.10  315390.77

**dataframe.info():** This method prints information about the dataframe, which includes the index data type and column data types, the count of non-null values and the memory used.

**dataframe.describe()**: This function produces descriptive statistics for the dataframe, that is, the central tendency (mean, median, min, max, etc.), dispersion, etc. It analyses the data and generates output for both numeric and non-numeric data types accordingly.

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 23 entries, ('Africa', 'Western Africa') to ('USCA', 'Canada')
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No_of_Orders  23 non-null     int64
 1   Profit        23 non-null     float64
 2   Sales         23 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.6+ KB

In [ ]:
sales.describe()

       No_of_Orders        Profit          Sales
count     23.000000     23.000000      23.000000
mean     366.478261  28859.944783  206285.108696
std      246.590361  27701.193773  160589.886606
min       37.000000 -16766.900000    8190.740000
25%      211.500000  12073.085000   82587.475000
50%      356.000000  20948.840000  170416.310000
75%      479.500000  45882.845000  290182.375000
max      964.000000  82091.270000  656637.140000

<font color="blue" size="4"><b>Indexing and Slicing</b></font>

There are multiple ways to select rows and columns from a dataframe or series. We'll see how to:
      Select rows from a dataframe

      Select columns from a dataframe

      Select subsets of dataframes

In [ ]:
sales_df=pd.read_excel('/content/drive/MyDrive/sales.xlsx',index_col=[1])
sales_df

                         Market  No_of_Orders    Profit      Sales
Region
Western Africa           Africa           251 -12901.51   78476.06
Southern Africa          Africa            85  11768.58   51319.50
North Africa             Africa           182  21643.08   86698.89
Eastern Africa           Africa           110   8013.04   44182.60
Central Africa           Africa           103  15606.30   61689.99
Western Asia       Asia Pacific           382 -16766.90  124312.24
Southern Asia      Asia Pacific           469  67998.76  351806.60
Southeastern Asia  Asia Pacific           533  20948.84  329751.38
Oceania            Asia Pacific           646  54734.02  408002.98
Eastern Asia       Asia Pacific           414  72805.10  315390.77
Central Asia       Asia Pacific            37  -2649.76    8190.74
Western Europe           Europe           964  82091.27  656637.14
Southern Europe          Europe           338  18911.49  215703.93
Northern Europe          Europe           367  43237.44  252969.09
Eastern Europe           Europe           241  25050.69  108258.93
South America             LATAM           496  12377.59  210710.49
Central America           LATAM           930  74679.54  461670.28
Caribbean                 LATAM           288  13529.59  116333.05
Western US                 USCA           490  44303.65  251991.83
Southern US                USCA           255  19991.83  148771.91
Eastern US                 USCA           443  47462.04  264973.98
Central US                 USCA           356  33697.43  170416.31
Canada                     USCA            49   7246.62   26298.81

In [ ]:
sales_df['Sales']

Region
Western Africa        78476.06
Southern Africa       51319.50
North Africa          86698.89
Eastern Africa        44182.60
Central Africa        61689.99
Western Asia         124312.24
Southern Asia        351806.60
Southeastern Asia    329751.38
Oceania              408002.98
Eastern Asia         315390.77
Central Asia           8190.74
Western Europe       656637.14
Southern Europe      215703.93
Northern Europe      252969.09
Eastern Europe       108258.93
South America        210710.49
Central America      461670.28
Caribbean            116333.05
Western US           251991.83
Southern US          148771.91
Eastern US           264973.98
Central US           170416.31
Canada                26298.81
Name: Sales, dtype: float64

In [ ]:
type(sales_df['Sales'])

pandas.core.series.Series

Pandas series data type:

To visualise pandas series easily, it can be thought of as a one-dimensional (1D) NumPy array with a label and an index attached to it. Also, unlike NumPy arrays, they can contain non-numeric data (characters, dates, time, booleans, etc.). Usually, you will work with Series only as part of dataframes.



You could create a Pandas series from an array-like object using the following command:
pd.Series(data, dtype)

In [ ]:
#Row Indexing
sales_df.loc['Central Africa']

Market            Africa
No_of_Orders         103
Profit           15606.3
Sales           61689.99
Name: Central Africa, dtype: object

In [ ]:
sales_df.loc['Central Africa','Sales']

61689.99

In [ ]:
sales_df.iloc[4,3]

61689.99

You can use the loc method to extract rows and columns from a dataframe based on the following labels:

dataframe.loc[[list_of_row_labels], [list_of_column_labels]]

another method for indexing a dataframe is the iloc method, which uses the row or column number instead of labels.

dataframe.iloc[rows, columns]

In [ ]:
# Display data for Market, Sales and Profit

sales_df.loc[:,['Market','Sales','Profit']]

                         Market      Sales    Profit
Region
Western Africa           Africa   78476.06 -12901.51
Southern Africa          Africa   51319.50  11768.58
North Africa             Africa   86698.89  21643.08
Eastern Africa           Africa   44182.60   8013.04
Central Africa           Africa   61689.99  15606.30
Western Asia       Asia Pacific  124312.24 -16766.90
Southern Asia      Asia Pacific  351806.60  67998.76
Southeastern Asia  Asia Pacific  329751.38  20948.84
Oceania            Asia Pacific  408002.98  54734.02
Eastern Asia       Asia Pacific  315390.77  72805.10
Central Asia       Asia Pacific    8190.74  -2649.76
Western Europe           Europe  656637.14  82091.27
Southern Europe          Europe  215703.93  18911.49
Northern Europe          Europe  252969.09  43237.44
Eastern Europe           Europe  108258.93  25050.69
South America             LATAM  210710.49  12377.59
Central America           LATAM  461670.28  74679.54
Caribbean                 LATAM  116333.05  13529.59
Western US                 USCA  251991.83  44303.65
Southern US                USCA  148771.91  19991.83
Eastern US                 USCA  264973.98  47462.04
Central US                 USCA  170416.31  33697.43
Canada                     USCA   26298.81   7246.62

In [ ]:
sales_df.iloc[:,[0,3,2]].head()

                 Market     Sales    Profit
Region
Western Africa   Africa  78476.06 -12901.51
Southern Africa  Africa  51319.50  11768.58
North Africa     Africa  86698.89  21643.08
Eastern Africa   Africa  44182.60   8013.04
Central Africa   Africa  61689.99  15606.30

In [ ]:
#Display data for Western Africa, North Africa and Southern Africa
sales_df.loc[['Western Africa','North Africa','Southern Africa'],:]

                 Market  No_of_Orders    Profit     Sales
Region
Western Africa   Africa           251 -12901.51  78476.06
North Africa     Africa           182  21643.08  86698.89
Southern Africa  Africa            85  11768.58  51319.50

In [ ]:
sales_df.iloc[0:3,:]

                 Market  No_of_Orders    Profit     Sales
Region
Western Africa   Africa           251 -12901.51  78476.06
Southern Africa  Africa            85  11768.58  51319.50
North Africa     Africa           182  21643.08  86698.89

In [ ]:
# Subsetting based on condition
# 1. Display LATAM and European market with sales>2000

sales_df[(sales_df['Market'].isin(['LATAM','Europe']))& (sales_df['Sales']>250000)]

                 Market  No_of_Orders    Profit      Sales
Region
Western Europe   Europe           964  82091.27  656637.14
Northern Europe  Europe           367  43237.44  252969.09
Central America   LATAM           930  74679.54  461670.28

isin() : Similar to the membership operator in lists, this function can check if the given element "is in" the collection of elements provided.

isna() : It checks whether the given element is null/empty.

<font color="red" size="4"><b>Operations on the dataframe
</b></font>

In [ ]:
weather=pd.read_csv('/content/drive/MyDrive/New folder/weatherdata.csv')

In [ ]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0

      Date: Date on which a data was recorded
      Location: The location where the data was recorded
      MinTemp: Minimum temperature on the day of recording data (in degrees Celsius)
      MaxTemp: Maximum temperature on the day of recording data (in degrees Celsius)
      Rainfall: Rainfall in mm
      Evaporation: The so-called Class A pan evaporation (mm) in the 24 hours up to 9 AM
      Sunshine: Number of hours of bright sunshine in the day
      WindGustDir: Direction of the strongest gust of wind in the 24 hours up to midnight
      WindGustSpeed: Speed (km/h) of the strongest gust of wind in the 24 hours up to midnight

In [ ]:
weather[weather['Sunshine']>4]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0
5941,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0
...,...,...,...,...,...,...,...,...,...
139108,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0
139109,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0
139110,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0
139111,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0
139112,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0

If a date–time variable has values in the form of a string, then you can call the ‘parse_dates’ function while loading the data into the Pandas DataFrame. This will convert the format to date–time for that particular variable.

In [ ]:
#Using DatetimeIndex module we can extract a day, a month or a year from a date variable

pd.DatetimeIndex(weather['Date']).year

Int64Index([2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='Date', length=142193)

In [ ]:
# Adding a 'Year' column to the dataset
weather['Year']=pd.DatetimeIndex(weather['Date']).year

In [ ]:
weather['Month']=pd.DatetimeIndex(weather['Date']).month

In [ ]:
weather['Day']=pd.DatetimeIndex(weather['Date']).day

In [ ]:
weather.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,2008,12,6
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,2008,12,7
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,2008,12,8
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,2008,12,9
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,2008,12,10

In [ ]:
weather['Maxtemp_F']=weather['MaxTemp'] * 9/5 + 32

In [ ]:
# Applyig function on a column
weather['Rainfall']

0         0.6
1         0.0
2         0.0
3         0.0
4         1.0
         ...
142188    0.0
142189    0.0
142190    0.0
142191    0.0
142192    0.0
Name: Rainfall, Length: 142193, dtype: float64

In [ ]:
weather['IsRaining']=weather['Rainfall'].apply(lambda x: 'Raining' if x>50 else 'Not Raining')

In [ ]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Raining
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Raining
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Raining
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Raining
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Raining

In [ ]:
weather[weather['IsRaining']=='Raining']

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining
429,2010-02-05,Albury,19.2,26.1,52.2,NaN,NaN,SE,33.0,2010,2,5,78.98,Raining
455,2010-03-08,Albury,18.1,25.5,66.0,NaN,NaN,NW,56.0,2010,3,8,77.90,Raining
690,2010-10-31,Albury,13.8,18.7,50.8,NaN,NaN,NNW,52.0,2010,10,31,65.66,Raining
704,2010-11-14,Albury,19.2,22.6,52.6,NaN,NaN,N,26.0,2010,11,14,72.68,Raining
787,2011-02-05,Albury,20.4,23.0,99.2,NaN,NaN,NW,28.0,2011,2,5,73.40,Raining
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140532,2017-02-03,Katherine,23.4,33.0,62.0,NaN,NaN,NNW,33.0,2017,2,3,91.40,Raining
140571,2017-03-14,Katherine,23.0,35.0,79.0,31.0,NaN,ESE,22.0,2017,3,14,95.00,Raining
140578,2017-03-22,Katherine,24.1,34.5,61.4,NaN,NaN,N,31.0,2017,3,22,94.10,Raining
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,2016,12,26,81.32,Raining
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,Raining

<font color="red" size="4"><b>Grouping and Aggregate functions</b></font>

In [ ]:
# Applying groupby
data_by_location=weather.groupby(by=['Location']).mean()
data_by_location.head()

<ipython-input-50-e094180f06e4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_by_location=weather.groupby(by=['Location']).mean()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Month,Day,Maxtemp_F
Location,,,,,,,,,,
Adelaide,12.628368,22.945402,1.572185,5.824924,7.752002,36.530812,2012.525890,6.523948,15.740453,73.301723
Albany,12.948461,20.072587,2.255073,4.207273,6.658765,NaN,2012.708554,6.413130,15.680371,68.130657
Albury,9.520899,22.630963,1.925710,NaN,NaN,32.953016,2012.733643,6.412488,15.745932,72.735734
AliceSprings,13.125182,29.244191,0.869355,9.029929,9.581944,40.533714,2012.719565,6.407456,15.689211,84.639545
BadgerysCreek,11.136900,24.023111,2.207925,NaN,NaN,33.609890,2012.790984,6.326161,15.769467,75.241600

In [ ]:
data_by_location.sort_values(['Rainfall'],ascending=True).head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Month,Day,Maxtemp_F
Location,,,,,,,,,,
Woomera,13.313898,26.542135,0.489946,10.116654,9.063005,44.080962,2012.773579,6.344816,15.692308,79.775843
Uluru,14.406983,30.387442,0.707324,NaN,NaN,41.369231,2014.852728,6.447074,15.712689,86.697396
AliceSprings,13.125182,29.244191,0.869355,9.029929,9.581944,40.533714,2012.719565,6.407456,15.689211,84.639545
Nhil,8.992798,22.398407,0.932907,NaN,NaN,42.542438,2014.838751,6.377310,15.729127,72.317132
Mildura,10.733954,24.841536,0.945025,5.935952,8.468104,37.170829,2012.778849,6.354506,15.708680,76.714766

The groupby() function returns a Pandas object, which can be used further to perform the desired aggregate functions.

In [ ]:
data_bymonth=weather.groupby(['Month']).mean()
data_bymonth.head()

<ipython-input-54-267cfb41f80c>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_bymonth=weather.groupby(['Month']).mean()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Day,Maxtemp_F
Month,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964

In [ ]:
data_bymonth.sort_values(['MinTemp'],ascending=True)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Day,Maxtemp_F
Month,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252

In [ ]:
# Creating a 'chill factor' column
from math import sqrt
def wci(x):
  velocity=x['WindGustSpeed']
  mintemp=x['MinTemp']
  return (10*sqrt(velocity)-velocity+10.5)*(33-mintemp)

In [ ]:
weather['WCI']=weather.apply(wci,axis=1)

In [ ]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Raining,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Raining,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Raining,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Raining,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Raining,519.734257

<font color="red" size="4"><b>Data Merging Operations</b></font>

In [ ]:
tea_sales=pd.read_csv('/content/drive/MyDrive/New folder/junesales.csv')
tea_sales.head()

       Date  Tea_sales(in 100's)
0  6/1/2011                   26
1  6/2/2011                   35
2  6/3/2011                   37
3  6/4/2011                   33
4  6/5/2011                   25

In [ ]:
tea_sales['Month']=pd.DatetimeIndex(tea_sales['Date']).month
tea_sales.head()

       Date  Tea_sales(in 100's) DayOfMonth  Month
0  6/1/2011                   26 2011-06-01      6
1  6/2/2011                   35 2011-06-02      6
2  6/3/2011                   37 2011-06-03      6
3  6/4/2011                   33 2011-06-04      6
4  6/5/2011                   25 2011-06-05      6

In [ ]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Raining,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Raining,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Raining,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Raining,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Raining,519.734257

In [ ]:
# Find total tea sales in the month of June for Newcastle region

newcastle_data=weather[(weather['Location']=='Newcastle') & (weather['Year']==2011) & (weather['Month']==6)]
newcastle_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI
15605,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN
15606,2011-06-02,Newcastle,NaN,20.2,4.0,NaN,NaN,NaN,NaN,2011,6,2,68.36,Not Raining,NaN
15607,2011-06-03,Newcastle,10.7,20.2,0.4,NaN,NaN,NaN,NaN,2011,6,3,68.36,Not Raining,NaN
15608,2011-06-04,Newcastle,9.4,20.4,0.0,NaN,NaN,NaN,NaN,2011,6,4,68.72,Not Raining,NaN
15609,2011-06-05,Newcastle,9.6,18.8,3.0,NaN,NaN,NaN,NaN,2011,6,5,65.84,Not Raining,NaN

In [ ]:
# df.merge merges two dataframes horizontally with a common column
merge_data=newcastle_data.merge(tea_sales,on='Month')
merge_data.head()

,Date_x,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI,Date_y,Tea_sales(in 100's),DayOfMonth
0,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN,6/1/2011,26,2011-06-01
1,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN,6/2/2011,35,2011-06-02
2,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN,6/3/2011,37,2011-06-03
3,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN,6/4/2011,33,2011-06-04
4,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,Not Raining,NaN,6/5/2011,25,2011-06-05

The attribute how n the code above specifies the type of merge that is to be performed. Merges are of the following different types:

    left: This will select the entries only in the first dataframe.
    right: This will consider the entries only in the second dataframe.
    outer: This takes the union of all the entries in the dataframes.
    inner: This will result in the intersection of the keys from both frames.

In [ ]:
locations=pd.read_csv('/content/drive/MyDrive/New folder/locationsandstates.csv')

In [ ]:
locations.head()

         Location             State
0          Sydney  New South Wales
1          Albury  New South Wales
2        Armidale  New South Wales
3        Bathurst  New South Wales
4  Blue Mountains  New South Wales

In [ ]:
weather['Location'].unique()

array(['Albury', 'BadgerysCreek', 'Cobar', 'CoffsHarbour', 'Moree',
       'Newcastle', 'NorahHead', 'NorfolkIsland', 'Penrith', 'Richmond',
       'Sydney', 'SydneyAirport', 'WaggaWagga', 'Williamtown',
       'Wollongong', 'Canberra', 'Tuggeranong', 'MountGinini', 'Ballarat',
       'Bendigo', 'Sale', 'MelbourneAirport', 'Melbourne', 'Mildura',
       'Nhil', 'Portland', 'Watsonia', 'Dartmoor', 'Brisbane', 'Cairns',
       'GoldCoast', 'Townsville', 'Adelaide', 'MountGambier', 'Nuriootpa',
       'Woomera', 'Albany', 'Witchcliffe', 'PearceRAAF', 'PerthAirport',
       'Perth', 'SalmonGums', 'Walpole', 'Hobart', 'Launceston',
       'AliceSprings', 'Darwin', 'Katherine', 'Uluru'], dtype=object)

In [ ]:
state=weather.merge(locations,on='Location',how='left')
state.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI,State
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not Raining,643.516918,New South Wales
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not Raining,840.511893,New South Wales
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not Raining,649.698327,New South Wales
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not Raining,844.657118,New South Wales
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not Raining,519.734257,New South Wales

Concatenating dataframes
Concatenation is much more straightforward than merging. It is used when you have dataframes with the same columns and want to stack them on top of each other, or with the same rows and want to append them side by side.

You can add columns or rows from one dataframe to another using the concat function:

pd.concat([dataframe_1, dataframe_2], axis = _)


To append rows, you have to set the axis value as 0. For adding columns from one dataframe to another, the axis value must be set as 1. If there are any extra columns or rows where there are no values, they are replaced with ‘NaN’.

<font color="red" size="4"><b>Pivot table</b></font>

In [ ]:
data_2016=weather[weather['Year']==2016]
data_2016.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Day,Maxtemp_F,IsRaining,WCI
2474,2016-01-01,Albury,20.4,37.6,0.0,NaN,NaN,ENE,54.0,2016,1,1,99.68,Not Raining,377.807123
2475,2016-01-02,Albury,20.9,33.6,0.4,NaN,NaN,SSE,50.0,2016,1,2,92.48,Not Raining,377.649205
2476,2016-01-03,Albury,18.4,23.1,2.2,NaN,NaN,ENE,48.0,2016,1,3,73.58,Not Raining,464.017672
2477,2016-01-04,Albury,17.3,23.7,15.6,NaN,NaN,SSE,39.0,2016,1,4,74.66,Not Raining,533.014686
2478,2016-01-05,Albury,15.5,22.9,6.8,NaN,NaN,ENE,31.0,2016,1,5,73.22,Not Raining,615.608763

In [ ]:
data_2016.pivot_table(index='Location',columns='Month',values='Rainfall',aggfunc='mean')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,,,,,,,,,,,,
Adelaide,1.703226,0.634483,1.735484,0.320000,2.838710,3.173333,3.612903,1.896774,4.373333,2.612903,1.106667,2.800000
Albany,2.380645,0.748276,1.144828,3.153333,3.158065,4.010000,3.954839,3.777419,3.426667,2.025806,0.753333,0.650000
Albury,2.206452,1.013793,0.961290,0.546667,3.477419,2.866667,3.767742,2.400000,4.740000,1.980645,1.653333,0.735484
AliceSprings,1.290323,0.910345,0.522581,0.000000,1.832258,0.933333,0.000000,0.658065,1.640000,0.109677,0.233333,4.352000
BadgerysCreek,5.012903,0.441379,1.019355,0.346667,0.380645,8.346667,1.438710,1.890323,1.826667,0.458065,0.337931,0.728571
Ballarat,1.358621,0.355556,1.180645,0.460000,2.303226,2.353333,3.012903,2.051613,5.940000,3.303226,1.133333,0.890323
Bendigo,1.117241,0.162963,1.077419,0.493333,2.677419,1.913333,2.961290,2.612903,5.113333,1.883871,1.253333,0.941935
Brisbane,0.972414,0.523077,3.787097,0.426667,0.890323,8.826667,0.909677,1.019355,1.726667,0.974194,0.933333,3.290323
Cairns,9.316129,4.689655,8.329032,4.593103,9.336842,2.220000,2.741935,1.348387,4.500000,2.427273,0.765217,4.033333
Canberra,3.432258,0.806897,0.916129,0.226667,1.535484,4.806667,2.290323,1.490323,4.973333,1.406452,1.893333,2.083871
Cobar,0.728571,0.062069,2.344828,1.313333,2.438710,3.586667,1.058065,1.948387,3.406667,0.658065,1.126316,0.993548
CoffsHarbour,3.129032,1.086207,2.345161,3.876667,0.112903,11.350000,0.732258,5.706452,1.163333,0.841935,3.546667,2.051613
Dartmoor,0.606897,1.420690,0.922581,1.133333,3.238710,5.053333,4.116129,2.780645,3.640000,2.341935,1.560000,1.670968
Darwin,5.477419,5.186207,3.735484,1.546667,2.012903,0.000000,0.000000,0.000000,2.146667,4.219355,6.940000,13.122581
GoldCoast,3.360000,2.336000,1.745455,3.764286,0.600000,10.042857,0.607407,2.407407,1.284615,1.264000,0.992308,1.825806
Hobart,1.296774,0.751724,0.548387,0.293333,3.096774,3.846667,2.554839,0.509677,3.140000,2.690323,2.173333,1.825806
Katherine,8.112903,3.889655,3.245161,0.626667,1.438710,0.000000,0.179310,0.000000,1.933333,0.141935,1.350000,3.469565
Launceston,4.961290,0.848276,1.596774,0.920000,4.312903,4.483333,4.545161,2.083871,2.706667,2.377419,1.840000,2.287097
Melbourne,NaN,NaN,NaN,NaN,1.838710,1.813333,2.070968,1.974194,2.906667,2.045161,1.046667,1.277419
MelbourneAirport,1.445161,0.151724,0.877419,1.213333,1.516129,2.213333,2.045161,0.987097,3.326667,2.496774,1.326667,2.496774
Mildura,2.200000,0.006897,0.012903,0.100000,1.400000,0.606667,0.619355,0.993548,3.120000,0.800000,1.706667,0.180645
Moree,3.270588,0.110345,0.347826,0.453333,1.122581,2.106667,0.470968,1.612903,4.620000,1.832258,0.773333,1.135484
MountGambier,0.425806,1.668966,0.916129,1.046667,3.438710,5.433333,4.948387,2.779310,3.921429,2.290323,1.653333,1.917241
MountGinini,4.690323,1.427586,1.767742,0.520000,3.432258,9.153333,6.354839,2.277419,7.110345,3.600000,1.926667,2.967742
Newcastle,13.851613,2.475000,2.280645,2.140000,0.458065,6.713333,1.787097,1.674194,1.866667,1.813793,1.693333,1.768000
Nhil,1.193548,0.496296,1.116129,0.220000,1.322581,1.446667,1.993548,1.083871,3.113333,1.903226,0.453333,1.032258
NorahHead,7.013793,0.600000,4.980645,1.813333,0.412903,6.506667,2.664516,2.432258,2.306667,1.941935,1.173333,2.238710
NorfolkIsland,4.419355,9.165517,8.841379,2.740000,3.880645,3.920000,2.161290,3.516129,2.440000,1.290323,7.084211,0.375000
Nuriootpa,0.967742,0.424138,1.470968,0.483333,2.862069,3.140000,2.437931,2.054839,6.036667,1.512903,0.783333,1.658065
PearceRAAF,0.696552,0.034483,3.283871,2.273333,2.909677,3.140000,3.845161,4.329032,1.664286,1.307143,0.246667,0.445161
Penrith,9.929032,0.072000,0.541935,0.406667,0.268966,6.980000,1.776000,1.574194,1.666667,0.400000,0.585714,2.248276
Perth,0.490323,0.020690,0.541935,2.273333,3.612903,3.646667,4.503226,3.974194,2.293333,1.206452,0.480000,0.329032
PerthAirport,0.754839,0.027586,0.690323,2.053333,3.419355,2.880000,4.174194,4.245161,2.060000,1.219355,0.186667,0.277419
Portland,0.944828,2.806897,0.961290,1.386667,4.658065,4.000000,5.425806,3.522581,5.471429,3.703226,2.246667,1.524138
Richmond,8.593548,0.525926,0.441379,0.286667,0.135484,6.306667,1.845161,1.987097,1.846667,0.438710,1.353333,2.529032
Sale,3.613793,0.213793,1.954839,0.866667,1.219355,2.433333,3.303226,0.845161,1.207143,2.259259,1.780000,0.761290
SalmonGums,1.331034,0.496552,1.670968,1.093333,1.148387,1.906667,1.051613,1.729032,0.900000,0.374194,0.113333,0.593103
Sydney,8.058065,0.889655,6.232258,5.166667,0.232258,10.166667,3.374194,4.883871,2.333333,1.012903,0.906667,2.096774
SydneyAirport,8.477419,1.393103,5.025806,2.700000,0.432258,9.313333,3.683871,4.238710,2.260000,1.103226,0.893333,1.883871
Townsville,2.470968,3.262069,18.000000,0.700000,0.012903,1.966667,1.716129,0.677419,0.242857,0.264516,0.366667,1.064286
Tuggeranong,3.234483,1.162963,1.875862,0.235714,1.200000,6.133333,2.077419,1.232258,5.033333,1.392593,1.780000,3.012903
Uluru,0.081481,0.491667,0.935484,0.006667,2.406452,2.681481,0.690323,0.935484,0.520000,0.064516,0.046667,6.929032
WaggaWagga,1.780645,0.558621,1.077419,0.360000,3.813793,2.820000,2.987097,1.896774,5.700000,2.064516,1.041667,0.600000
Walpole,3.584000,1.427586,1.151724,4.221429,4.870968,5.408333,6.379310,6.448276,5.092857,2.928571,0.938462,1.703226
Watsonia,1.207407,0.324138,0.890323,1.700000,1.722581,2.393333,2.051613,1.780645,2.792857,3.048276,2.033333,3.800000
Williamtown,13.625806,1.117241,1.474074,5.585185,0.361290,5.230000,1.696774,1.800000,1.660000,2.406452,1.561538,11.680000
Witchcliffe,0.296296,0.324138,0.551724,1.735714,6.238710,7.650000,7.806452,7.348387,4.364286,2.751724,0.570370,0.832258
Wollongong,5.735484,1.710345,6.587097,1.820000,0.316129,14.553333,3.483871,3.612903,1.580000,0.200000,0.986207,1.586667
Woomera,0.012903,0.524138,0.774194,0.033333,0.945161,1.890000,0.222581,0.890323,1.500000,0.335484,0.016667,0.505000